.env
*.log
.DS_Store
*.zip
.idea/
.vscode/
webServerApiSettings.json
/DATABASE FILE/
/extensions/
/xml/
/views/img/users/*/
!/views/img/users/default/
!/views/img/users/default/*
/views/img/products/*/
!/views/img/products/default/
!/views/img/products/default/*
